/* CSS from create-react-app */

body {
    margin: 1px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}

.container {
  display: block;
  /* text-align: right; */
  position: relative;
  padding-left: 55px;
  margin-bottom: 12px;
  cursor: pointer;
}

/* My CSS */

.centredText {
    text-align: center;
}

#flagsDisplay {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 3px;
}

.flagImage {
  height: 84px;
  width: 150px; 
}

.flagIndividualContainer:hover {
  cursor: pointer;
}

.flagImageNarrowScreen {
  height: 63px;
  width: 112.5px; 
}

.flagIndividualContainer {
    text-align: center;
    width: 180px;
    height: 180px;
    border: 4px solid rgba(255, 230, 0, 0.877);
    margin-bottom: 30px;
    background-color: lightcyan;
}

.flagIndividualContainerNarrowScreen {
  text-align: center;
  font-size: 12px;
  width: 135px;
  height: 140px;
  border: 3px solid rgba(255, 230, 0, 0.877);
  margin-bottom: 18px;
  background-color: lightcyan;
}

.help {
    margin: 12px;
    padding: 12px;
    border: 4px solid rgba(255, 230, 0, 0.877);
    background-color: lightcyan;
}

#helpButton {
    background-color: rgba(255, 230, 0, 0.877);
    height: 30px;
    border: 1px solid rgb(141, 137, 137);
    border-radius: 10%;
}

#helpButton:hover {
  border: 1px solid black;
}

#helpButton:active {
  background-color: rgba(230, 205, 0, 0.877);
  height: 30px;
  border: 1px solid black;
  border-radius: 10%;
}

#helpButtonDiv {
    display: flex;
    justify-content: flex-end; 
}

label {
    position: relative;
    right: 15px;
}

.noFlags {
    background-color: rgba(255, 230, 0, 0.877);
}

.tickBoxDiv {
    display: flex; 
    flex-direction: column;
    background-color: rgb(255, 221, 0);
    border: 1px solid white;
}

.tickBoxIntDiv {
    display: flex;
    justify-content: center;
}

.tickBoxSubdiv {
    text-align: right;
}

.tickBoxGroupTitle {
    text-align: center;
    color: blue;
}

#TickBoxes {
  display: flex;
  justify-content: space-around;
  font-size: 22px;
}

#TickBoxesNarrowScreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 16px;
  width: 120%;
  position: relative;
  left: -10vw;
}

#TitleAndTop {
  color: blue;
  font-size: 4vh;
  font-weight: bold;
  text-align: center;
}
